

<div id='searchContainer' class='container'>
  <h3>Enter a URL to enable real-time commenting!</h3>
  <form name='videoSearchForm' ng-submit='submitVideo()' novalidate>
    <!-- <label>Video Search</label> -->

    <input name='videoSearch' placeholder='Enter video url' type='url' ng-model='videoUrl' />
    <button ng-disabled='videoSearchForm.videoSearch.$invalid'>Submit</button>

    <p ng-show="videoSearchForm.videoSearch.$error.url">Not a valid video url</p>

  </form>
  <div class='container' ng-controller='movieListController'>
    <h4>Videos that have been commented on</h4>
    <!-- for right now I am putting this into a bulleted list I need to get the real data, I am waiting on mattias at this point,
    I will add some bootsrap classes and probably change this to a table instead of a list, not sure -->
    <div class='animate-repeat container' ng-repeat='movie in movies' ng-click='select(movie.videoId)'>
      <div class='col-md-4'>Title: {{ movie.videoTitle }}</div> 
      <div class='col-md-4'>Length: {{  }}</div> 
      <div class='col-md-4'>Number of comments: {{ movie.commentCount }}</div>
    </div>

  </div>
</div>