

<div id='searchContainer' class='container'>
  <h4>Enter a URL to enable real-time commenting!</h4>
  <form name='videoSearchForm' ng-submit='submitVideo()' novalidate>
    <!-- <label>Video Search</label> -->

    <input name='videoSearch' placeholder='Enter video url' type='url' ng-model='videoUrl' />
    <button ng-disabled='videoSearchForm.videoSearch.$invalid' class="btn btn-xs submit-button">Submit</button>

    <p ng-show="videoSearchForm.videoSearch.$error.url">Not a valid video url</p>

  </form>
  <div class='' ng-controller='movieListController'>
    <h4>Or search through movies in our database</h4>
    <div><input id='search-input' placeholder='search through existing videos' type="text" ng-model='searchText'></div>
    <div id='list-table'>  
      <div class='col-md-4'>Title</div>
      <div class='col-md-4'>Length</div>
      <div class='col-md-4'>Number of Comments</div>
    </div>
    <div class='animate-repeat' ng-repeat='movie in movies | filter:searchText' ng-click='select(movie.videoId)'>
      <div id='movie-list'>  
        <!-- title -->
        <div class='col-md-4'>{{ movie.videoTitle }}</div> 
        <!-- length -->
        <div class='col-md-4' ng-init='$index'>{{ getLength(movies[$index]) }}</div> 
        <!-- comments -->
        <div class='col-md-4'>{{ movie.comments.length }}</div>
      </div>
    </div>

  </div>
</div>