<div class="row">
  <div class='chart'></div>
  <!-- <div class='placeHolder'></div> -->

  <form id ='commentForm' class="form-inline">
  <div class="form-group comment-form-container">
    <label class="sr-only" for="commentInput">Enter Comment</label>
    <input ng-model='comment' ng-click='comment=""' placeholder='enter comment' class='text form-control' type='text' name='comment' id="commentInput">
  </div>
  <button type="submit" class="btn btn-default" ng-click = 'submitComment();'>Add</button>
</form>

  <div id='commentContainer' class='container'>
    
  </div> <!-- commentContainter -->
</div>
